@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@400;700&display=swap');

* {
  margin: 0 auto;
}
h1 {
  font-family: 'Gaegu', cursive;
  font-weight: 700;
}

h3 {
  font-family: 'Gaegu', cursive;
  font-weight: 700;
}

input[type='radio'] {
  display: none;
}

.heart {
  margin: 5px;
  cursor: pointer;
  transition: color 200ms;
  justify-items: center;
}

hr {
  width: 40%;
  border: 1px solid #eee;
}
