* {
  margin: 0 auto;
}

input[type='radio'] {
  display: none;
}

.heart {
  margin: 5px;
  cursor: pointer;
  transition: color 200ms;
  justify-items: center;
}

hr {
  width: 40%;
  border: 1px solid #eee;
}
